fastapi
uvicorn
pillow
python-multipart
ffmpeg-python
static-ffmpeg
opencv-python
# Please install these with conda as shown in the README
#torch
#torchvision
#torchaudio
matplotlib
numpy
sam2
supervision
uuid
cupy-cuda12x
scipy